<div class="container header-content row">
    <div class="col-sm-6 top-logoimg">
        <a href="/"><img src="~/Images/logo_cts.jpg" /></a>
    </div>
    <div class="col-sm-6 top-logoimg-right collapse" style="position:relative;">
        @*<a href="/Home/Contact">
            <img src="~/Images/phone2_2.png" />
        </a>*@

    </div>
    <div id="right-phone-area">
        <a href="/Home/Контакты">
            <span class="start-text">
                <span class="glyphicon glyphicon-phone"></span><span style="margin-left:10px;">Позвонить нам</span>
            </span>
            <div class="phone-contacts">
                <ul>
                    <li>
                        <span class="glyphicon glyphicon glyphicon-earphone"></span><span style="margin-left:10px;">+7 (953) 764-06-53</span>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon glyphicon-earphone"></span><span style="margin-left:10px;">+7 (993) 011-41-71</span>
                    </li>
                </ul>
            </div>
        </a>
    </div>

</div>


